*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --grey:rgba(0,0,0,.54);
    --light-grey:#f7f7f7;
    --blue:#6200ee;
    --off-white:rgb(253, 252, 252);
    --orange:rgb(253, 167, 6);
    --indigo:#4b7ae0;
    --brown:#ca8a04;
    --light-blue:#61DBFB;
    
}
body{
    background-color: var(--off-white);
    font-family: sans-sarif;
}
.headings{
    text-align: center;
    margin:1rem 0;
}

.component{
    min-height:40vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
    background-color:var(--light-grey) ;
    
}

.x-overlay{
    z-index:99;
}
.overlay{
    z-index:9;
}
/* ------------Cards------------------- */
.card{
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 10px ;
    background-color: var(--off-white);
    margin:1rem;
 
}
/* small card with side image */
.sm-card{
    width:350px;
    height:170px;
  
}
.sm-card-upper{
    display:flex;
    justify-content: center;
    align-items: start;
}
.sm-img{
    width:120px;
    height:120px;
    flex-grow: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-detail{
   flex-grow:2;
    display:flex;
    flex-direction: column;
    margin-left:1.5rem;
    margin-top:1.5rem;
}
.sm-card-upper:hover{
    background-color: var(--light-grey);
}
h2{
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .0125em;
}
small{
    color:var(--grey)
}

.card-lower{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:.5rem;
}
button{
    border:none;
    background-color:var(--off-white);
    color:var(--blue);
    font-weight: bolder;
    font-size: 1rem;
    letter-spacing: .0225em;
    padding:.5rem .8rem;
    border-radius: 5px;
    text-align: center;

}
button:hover{
    background-color: var(--light-grey);
    cursor: pointer;
    
}
.icon-btn{
    text-align: center;
    width:40px;
    height:40px;
    color:var(--grey);
    border-radius: 45%;
    font-size: large;
}



/* large card  with full image*/

.lg-card{
    width: 350px;
    height: 312px;
}
.bg-img-wrapper{
    width:350px;
    height:196px;
    background: url("https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg");
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    position: relative;
    
}
.text-wrapper{  
    padding:.5rem .5rem;
    letter-spacing: .0178571429em;
    color:var(--grey);
    font: bolder;
}
.lg-card-upper:hover{
    background: var(--light-grey);
    
    
}
.bg-img-wrapper > h2, .bg-img-wrapper >small{
    color:var(--off-white);
    position: absolute;
    left:0;
    font-weight:500 ;
    
}
.bg-img-wrapper h2{
    bottom:10px;
     margin-bottom: 1rem;
     margin-left: 1rem;
     font-size: 1.5rem;

}
.bg-img-wrapper small{
    bottom:5px; 
    margin-left: 1rem;
    font-size: 1rem;
     

}


/* -------------drawer-------- */
.drawer{
    width:256px;
    height:266px;
    background: var(--off-white);
    display:flex;
    flex-direction: column;
    z-index:2;
    
   
    padding:1rem;
}
.titles>h2{
    font-size: 1.7rem;
}
.titles>small{
    font-size: 1rem;
}
ul{
    list-style: none;
    margin:1rem 0;
    line-height: 1.375rem;
    font-weight: 500;
    letter-spacing: .0071428571em;
}
.list-items>li{
    color:var(--grey);
    padding:.6rem;
    font-size: 1.2rem;
    margin:.2rem 0rem;
}
.list-items>li:hover{
    background: var(--light-grey);
    cursor: pointer;
}
.list-items >li >i{
    margin-right:2rem;
}
.list-items >.active{
    color:var(--blue);
    background-color: var(--light-grey);
}

/* ---------headers--------- */

/* using grids */

.long-nav{
    width:600px;
    padding:1rem;
    background-color: var(--off-white);
    display:grid;
    grid-template-areas:
    "button place place place ------ ------ ----- icons icons icons";
    
    
}


@media only screen and(max-width:500px){
    
    .long-nav{
        
        grid-template-areas:
        "button place"
        "-----  icons";
    }
}

.long-nav>button{
    grid-area: button;
}

.long-nav>h2{
    grid-area: place;
    margin-top:.3rem;
    margin-left: 1rem;
}
.right-panel{
    grid-area:icons;
    margin-left: auto;   
}


/* -----short nav------ */

.short-nav{
    display:grid;
    width:150px;
    border-bottom-right-radius:20px ;
    background: var(--blue);
    grid-template-areas: "hamburger download";
    padding:1rem .2rem;
}
.short-nav > button{
    background: var(--blue);
    color:white;
    margin-right:auto;
}
.short-nav > button:hover{
  background: #8d4fe2b9;
}
.hamburger{
    grid-area: hamburger;
    
}
.download{
    grid-area: download;
}


/* ------badges---- */

.column-flex{
    flex-direction: column;
}
.badge-wrapper > i{
    position:relative;

}
.badge-wrapper{
    position: relative;
}
.circle{
    position:absolute;
    
    background-color: red;
    width:20px;
    height:20px;
    border-radius: 50%;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem; /*16px;*/
    
}
.circle-for-icon{
    top:-5px;
    left:20px;
}
.circle-for-text{
    top:-8px;
    left:100px;
}
.circle-for-lg-text{
    width:30px;
    height:30px;
    font-size: 2rem;
    top:-15px;
    left:180px;
}

.badge-wrapper>button{
    background: var(--blue);
    color:white;
}
.circle-for-btn{
    top:-14px;
    left:70px;
}
.circle-for-hide-btn{
    top:-14px;
    left:50px;

}
/* -----------snack bars-------------- */


.simple-snack-bar{
    background: var(--grey);
    padding:1rem;
    border-radius: 10px;
    color:var(--light-grey);
    box-shadow: -2px 4px 5px 0px rgba(0,0,0,0.75);

}
.simple-snack-bar>p>button{
    background: none;
    font-size: 1.3rem;
    color:lightgreen;
    
}

.tooltip{
    position: relative;
    border-radius: 50%;
}
.tooltip .tooltip-text{
    position:absolute;
    visibility: hidden;
    color:var(--off-white);
    top:40px;
    left:-5px;
    font-size: small;
}
.tooltip:hover{
    background-color: var(--light-grey);
}
.tooltip:hover .tooltip-text{
    visibility: visible;
    
}

.snack-bar{
    position:relative;
}
.baseline{
    display: none;
    position:fixed;
    bottom:0;
}

/* ------------------ Dialogs ---------- */

.dialog{
    width:240px;
    height:165px;
    background: var(--off-white);
    border-radius:10px;
}
.dialog-upper{
    height:100px;
    margin-left:1.5rem;
    margin-top:1.5rem;
}
.dialog-upper > h2{
    padding-bottom: 1rem;
}
.dialog-lower{
    display:flex;
    justify-content: end;
   
}

/*  second dialog */

.dialog{
    margin:1rem;
}

.dialog ul{
    list-style: none;

}
.dialog> h2{
    margin:.4rem 2rem;
    font-size: larger;
    font-weight: bold;

}
.dialog ul li{
    padding:.4rem 1.5rem;
    font-size: large;
} 
.dialog ul li:hover{
    background-color: var(--blue);
    color:white;
}
.confirmation{
    height:200px;
}
.dialog-middle {
    height: 7.5rem;
    display: flex;
    overflow-y: scroll;
    color:var(--dark-grey);
}
.dialog-middle > label{
    padding:.5rem 1rem;
    
}
.dialog-middle > label  input{
    margin-right:.5rem;
}

/* ------------tabs------------ */

.fixed-tab , .scrollable-tab{
    background-color: var(--off-white);
    padding:.5rem;
}

.active-tab-item{
    border-radius: 0px;
    border-bottom:2px solid var(--blue);
}
.scrollable-tab{
    width:400px;
    overflow: auto;
    white-space: nowrap;
}
.scrollable-tab > button{
    width:100px;
}

/* chips */

.chip >span{
    background: var(--off-white);
    padding:.2rem 1rem;
    border-radius: 40px;
}
.removable-chip>button{
    background: inherit;
    padding:.3rem .5rem;
    border-radius: 50%;
    font-size: small;
}
.removable-chip > button:hover{
    background-color: var(--light-grey);
}
#html-chip{
    background: var(--orange);
}
#css-chip{
    background-color: var(--indigo);
}
#js-chip{
    background-color: var(--brown);
}
#react-chip{
    background-color: var(--light-blue);
}

