@import url("./css/main.css");
body{
    background-color: var(--off-white);
    font-family: sans-sarif;
}
.headings{
    text-align: center;
    margin:1rem 0;
}

.component{
    min-height:40vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
    background-color:var(--light-grey) ;
    
}

.x-overlay{
    z-index:99;
}
.overlay{
    z-index:9;
}
